<div class="row" ng-show="!aligned">
  <div class="card card-block col-lg-8 col-xl-offset-2">
    <div class="">
      <div class="col-lg-12">
        <form class="" name="search" ng-submit="align()">


        <div class="input-group">
          <span class="input-group-btn">
            <button class="btn btn-secondary" type="submit">Go!</button>
          </span>
          <textarea type="text" class="form-control" placeholder="Enter two Fasta Files:

          " ng-model="query" ></textarea>
        </div>
      </form>
      </div>
   </div>
 </div>
 <div class="col-lg-12 text-center">
   <span class="btn btn-primary" ng-click="setExample()">Example</span>
 </div>
</div>
<div class="card card-block col-lg-10 col-xl-offset-1 text-center" ng-show="aligned">
  <h2>Results of Global Pairwise Alignment</h2>

  <table class="table table-hover">
  <thead class="thead-inverse">
    <tr>
      <th>Name</th>
      <th>Aligned Sequence</th>

    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="sequence in aligned">
      <th scope="row">{{sequence.Name}}</th>
      <td class="text-left">{{sequence.align}}</td>
    </tr>

  </tbody>
</table>


<hr/>

<div class="text-center">

<h3>Matrix</h3>
<div class="row" ng-repeat="row in matrix track by $index">
  |
  <span class="" ng-repeat="col in row track by $index">
    {{col}} |
  </span>
</div>
</div>
</div>

<!-- <div class="">
  <textarea name="name" rows="8" cols="40" ng-model="fasta" placeholder="Paste Fasta file here"></textarea>

</div> -->
<!-- <div class="articles">

</div> -->


<!--

        <form id="search" action="search">
            <input name="q" id="q">
            <input type="submit" value="search">
        </form>

    <script>
        $(document).ready(function() {
            $("#search").submit(function() {
                $.getJSON("http://preview.ncbi.nlm.nih.gov/portal/utils/autocomp.fcgi?dict=pm_related_queries_2&callback=?&q="
                        + encodeURIComponent($("#q").val()), NSuggest_CreateData);
                return false;
            });
        });

        function NSuggest_CreateData(q, data) {
            var ul = $("#results");
            ul.empty();
            $.each(data, function(i, text) {
                ul.append($("<li/>").text(text));
            });
        }

    </script>
    <ul id="results"></ul> -->
